<div class="welcome-page container">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to eShopWithoutContainer
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                To learn microservices step by step ,
                The <a href="https://github.com/dushuaihua/eShopWithoutContainers" target="_blank">eShopWithoutContainers</a> is extract the business logic
                from <a href="https://github.com/dotnet-architecture/eShopOnContainers" target="_blank">eShopOnContainers</a> , removed docker related content ,
                and use traditional deployment method to publish API and services.
            </p>
        </div>
    </div>
</div>
